<section class="impl_provide_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="impl_heading">
          <h2>Что мы предоставляем</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="impl_facility_wrapper">
              <img src="@img/service/service01.jpeg" alt="" class="img-fluid" aria-hidden="true" />
              <div class="impl_ser_hover_ovrly">
                <div class="impl_ser_text">
                  <img src="@img/svg/key.svg" alt="key" />
                  <h3>покупка</h3>
                </div>
                <div class="impl_ser_text_ovrly">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="impl_facility_wrapper">
              <img src="@img/service/service02.jpeg" alt="" class="img-fluid" aria-hidden="true" />
              <div class="impl_ser_hover_ovrly">
                <div class="impl_ser_text">
                  <img src="@img/svg/doller.svg" alt="key" />
                  <h3>продажи</h3>
                </div>
                <div class="impl_ser_text_ovrly">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="impl_facility_wrapper">
              <img src="@img/service/service03.jpeg" alt="" class="img-fluid" aria-hidden="true" />
              <div class="impl_ser_hover_ovrly">
                <div class="impl_ser_text">
                  <img src="@img/svg/insurance_car.svg" alt="key" />
                  <h3>страхование</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="impl_facility_wrapper">
              <img src="@img/service/service04.jpeg" alt="" class="img-fluid" aria-hidden="true" />
              <div class="impl_ser_hover_ovrly">
                <div class="impl_ser_text">
                  <img src="@img/svg/trust.svg" alt="key" />
                  <h3>доверенный агент</h3>
                </div>
                <div class="impl_ser_text_ovrly">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="impl_service_video">
          <div class="impl_video_inner">
            <a class="impl-popup-youtube" href="https://www.youtube.com/watch?v=TmABhnTQ7KY&ab_channel=AVTORAKETA"
              target="_blank">
              <div class="impl_servdo_video">
                <span class="impl_play_icon"><i class="fa fa-play" aria-hidden="true"></i></span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="impl_service_video">
          <div class="impl_video_inner  impl_ser_video_img">
            <a class="impl-popup-youtube" href="https://www.youtube.com/watch?v=kDWeXKlm7lE&t=1s&ab_channel=AVTORAKETA"
              target="_blank">
              <div class="impl_servdo_video">
                <span class="impl_play_icon"><i class="fa fa-play" aria-hidden="true"></i></span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="impl_facility_wrapper">
              <img src="@img/service/service05.jpeg" alt="" class="img-fluid" aria-hidden="true" />
              <div class="impl_ser_hover_ovrly">
                <div class="impl_ser_text">
                  <img src="@img/svg/repair.svg" alt="key" />
                  <h3>ремонт</h3>
                </div>
                <div class="impl_ser_text_ovrly">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="impl_facility_wrapper">
              <img src="@img/service/service06.jpeg" alt="" class="img-fluid" aria-hidden="true" />
              <div class="impl_ser_hover_ovrly">
                <div class="impl_ser_text">
                  <img src="@img/svg/security.svg" alt="key" />
                  <h3>безопасность</h3>
                </div>
                <div class="impl_ser_text_ovrly">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="impl_facility_wrapper">
              <img src="@img/service/service08.jpeg" alt="" class="img-fluid" aria-hidden="true" />
              <div class="impl_ser_hover_ovrly">
                <div class="impl_ser_text">
                  <img src="@img/svg/clock.svg" alt="key" />
                  <h3>своевременность</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="impl_facility_wrapper">
              <img src="@img/service/service09.jpg" alt="" class="img-fluid" aria-hidden="true" />
              <div class="impl_ser_hover_ovrly">
                <div class="impl_ser_text">
                  <img src="@img/svg/support.svg" alt="key" />
                  <h3>постоянная поддержка</h3>
                </div>
                <div class="impl_ser_text_ovrly">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>