<section class="impl_query_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="impl_heading">
          <h2>Спросите эксперта</h2>
        </div>
        <form action="#" method="POST" class="impl_query_form form-callback">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="input-group">
                <input required type="text" class="form-control" name="name" placeholder="Ваше имя">
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="input-group">
                <input required type="tel" class="tel form-control" name="tel" placeholder="Ваш телефон">
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="input-group">
                <textarea required name="text" class="form-control" placeholder="Ваш вопрос"></textarea>
              </div>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="impl_btn">Отправить</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="impl_query_img">
          <img src="@img/service/service07.jpg" alt="" class="img-fluid" aria-hidden="true" />
        </div>
      </div>
    </div>
  </div>
</section>