<section class="impl_counter_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="impl_cont_box">
          <div class="impl_count_img">
            <img src="@img/svg/count_car.svg" alt="" />
          </div>
          <div class="impl_count_text">
            <h2 class="count-no" data-to="8210" data-speed="10000">8210</h2>
            <p>Автомобили</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="impl_cont_box">
          <div class="impl_count_img">
            <img src="@img/svg/trophy.svg" alt="" />
          </div>
          <div class="impl_count_text">
            <h2 class="count-no" data-to="686" data-speed="10000">686</h2>
            <p>награды</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="impl_cont_box">
          <div class="impl_count_img">
            <img src="@img/svg/user.svg" alt="" />
          </div>
          <div class="impl_count_text">
            <h2 class="count-no" data-to="6281" data-speed="10000">6281</h2>
            <p>клиенты</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="impl_cont_box">
          <div class="impl_count_img">
            <img src="@img/svg/count_car1.svg" alt="" />
          </div>
          <div class="impl_count_text">
            <h2 class="count-no" data-to="4100" data-speed="10000">4100</h2>
            <p>Ремонт</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>