<section class="impl_about_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="impl_heading">
          <h2>Кто мы ?</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="impl_about_data">
          <h2>Немного о нас</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate dicta possimus iure officiis provident
            ad consequuntur laboriosam ex rerum consectetur repellat, deleniti sunt enim rem et vero debitis at
            voluptas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tempora, vitae at ex sint
            accusantium necessitatibus similique eveniet, veritatis aperiam dolorem voluptates quia error itaque tempore
            consequuntur esse! Ipsam, atque.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="impl_progress_wrapper">
          <div class="barWrapper">
            <span class="progressText">Клиенты</span>
            <div class="progress">
              <div class="progress-bar" style="width: 40%;">
                <div class="progress-value">5410</div>
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Покупки</span>
            <div class="progress">
              <div class="progress-bar" style="width: 60%;">
                <div class="progress-value">8612</div>
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Продажи</span>
            <div class="progress">
              <div class="progress-bar" style="width: 80%;">
                <div class="progress-value">9782</div>
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Ремонт</span>
            <div class="progress">
              <div class="progress-bar" style="width: 60%;">
                <div class="progress-value">6450</div>
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Сток автомобилей</span>
            <div class="progress">
              <div class="progress-bar" style="width: 90%;">
                <div class="progress-value">6450</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>