<section class="impl_about_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="impl_heading">
          <h2>Кто мы ?</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="impl_about_data">
          <h2>Немного о нас</h2>
          <p>
            Компания "Авторакета" предлагает уникальные возможности для тех, кто заинтересован в покупке качественных
            автомобилей из
            США, Грузии и Кореи.
            Сертифицированные специалисты "Авторакеты" сопровождают клиента от момента выбора до первых километров по
            трассе.
            Доставка, растаможка, сертификация - стоимость всех услуг прозрачна, нет скрытых комиссий и необоснованных
            платежей.
            "Авторакета" всегда находится на расстоянии "одного клика", что повышает эффективность каждой сделки.
            "Авторакета" - качественный сервис, всесторонняя помощь, уникальные услуги для каждого, кто хочет стать
            владельцем
            автомобиля.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="impl_progress_wrapper">
          <div class="barWrapper">
            <span class="progressText">Клиенты</span>
            <div class="progress">
              <div class="progress-bar" style="width: 40%;">
                <div class="progress-value">5410</div>
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Покупки</span>
            <div class="progress">
              <div class="progress-bar" style="width: 60%;">
                <div class="progress-value">8612</div>
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Продажи</span>
            <div class="progress">
              <div class="progress-bar" style="width: 80%;">
                <div class="progress-value">9782</div>
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Ремонт</span>
            <div class="progress">
              <div class="progress-bar" style="width: 60%;">
                <div class="progress-value">6450</div>
              </div>
            </div>
          </div>
          <div class="barWrapper">
            <span class="progressText">Сток автомобилей</span>
            <div class="progress">
              <div class="progress-bar" style="width: 90%;">
                <div class="progress-value">6450</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>