<section class="impl_test_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="impl_heading">
          <h2>Слова благодарности</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="impl_test_slider">
          <div class="item">
            <div class="impl_test_slider_box">
              <div class="impl_test_data">
                <div class="impl_test_img">
                  <img class="img-fluid" src="@img/history/quotes01.jpeg" alt="" aria-hidden="true" />
                </div>
                <q>
                  Обратился в Авторакету по рекомендации друга. Не пожалел ни одной секунды. Ребята сработали отлично.
                  Мне помогли выбрать
                  нужную машину, а бегать кабинетам и решать сложные документальные вопросы не пришлось - львиную долю
                  взяли на себя
                  специалисты Авторакеты. Спасибо. Рекомендую.
                </q>
                {{!-- <a href="#" target="_blank" class="impl_test_footer">
                  - Name Family
                </a> --}}
              </div>
            </div>
          </div>
          <!--2-->
          <div class="item">
            <div class="impl_test_slider_box">
              <div class="impl_test_data">
                <div class="impl_test_img">
                  <img class="img-fluid" src="@img/history/quotes02.jpeg" alt="" aria-hidden="true" />
                </div>
                <q>
                  Я всегда с осторожностью
                  относился к покупке авто из-за границы. Но "Авторакета" развеяла все сомнения. Договор
                  составлен прозрачно, лишнего не переплатил, документы оформлены в краткие сроки.
                  Машиной доволен. Теперь обращаться буду только сюда.
                </q>
                {{!-- <a href="#" target="_blank" class="impl_test_footer">
                  - Name Family
                </a> --}}
              </div>
            </div>
          </div>
          <!--3-->
          <div class="item">
            <div class="impl_test_slider_box">
              <div class="impl_test_data">
                <div class="impl_test_img">
                  <img class="img-fluid" src="@img/history/quotes03.jpeg" alt="" aria-hidden="true" />
                </div>
                <q>В мои планы давно
                  входила покупка авто из США. Но я не был подкован в юридических моментах и поэтому долго не решался на
                  такую покупку. Друзья предложили обратиться в "Авторакету". Я не пожалел. С первого момента я был "под
                  крылом"
                  специалистов. Менеджеры просто 🔥. Отвечали на любые вопросы. Помогли все оформить. И теперь я
                  владелец шикарного
                  автомобиля. Спасибо!
                </q>
                {{!-- <a href="#" target="_blank" class="impl_test_footer">
                  - Name Family
                </a> --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>