<div class="impl_blog_wrapper impl_blog_page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="impl_blog_inner">
          <div class="row">
            <div class="impl_flex_container">
              <div class="col-lg-3 col-md-3 mb-3">
                <div class="impl_sidebar">
                  <!--Recent Post-->
                  <div class="widget widget_recent_entries mb-3">
                    <h2 class="widget-title">Недавние посты</h2>
                    <ul>
                      <li>
                        <div class="recent_cmnt_img">
                          <img src="@img/blog/recent/picture-recent01.jpeg" alt="">
                        </div>
                        <div class="recent_cmnt_data">
                          <h4><a href="blog.html#blog02">Автобезопасность - начало и развитие.</a></h4>
                          <span>07 Октября 2022</span>
                        </div>
                      </li>
                      <li>
                        <div class="recent_cmnt_img">
                          <img src="@img/blog/recent/picture-recent02.jpeg" alt="">
                        </div>
                        <div class="recent_cmnt_data">
                          <h4><a href="blog.html#blog03">Рейтинг ситуаций, которые может предотвратить своевременная
                              диагностика</a>
                          </h4>
                          <span>20 Ноября 2022</span>
                        </div>
                      </li>
                      <li>
                        <div class="recent_cmnt_img">
                          <img src="@img/blog/recent/picture-recent03.jpeg" alt="">
                        </div>
                        <div class="recent_cmnt_data">
                          <h4><a href="blog.html#blog04">Покупка авто из США. Как разобраться?</a></h4>
                          <span>14 Сентября 2022</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!--Tag Cloud-->
                  <div class="widget widget_tag_cloud">
                    <h2 class="widget-title">Теги</h2>
                    <ul>
                      <li><a href="#">Гарантии</a></li>
                      <li><a href="#">Законы</a></li>
                      <li><a href="#">Безопасность</a></li>
                      <li><a href="#">Продажи</a></li>
                      <li><a href="#">Документы </a></li>
                      <li><a href="#">Договоры</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--sidebar end-->
              <div class="col-lg-9 col-md-9 impl_blog_section">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <!--blog1-->
                    <div class="impl_blog_box single_blog">
                      <div class="impl_post_img impl_post_imx">
                        <img src="@img/main/warranty.jpg" alt="" class="img-fluid">
                        <span class="impl_pst_date">
                          22 сент
                        </span>
                        <div class="impl_pst_img_icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                      </div>
                      <div class="impl_post_data">
                        <h2>ГАРАНТИИ и БЕЗОПАСНОСТЬ</h2>
                        <p>1. Публичность компании.
                          На поисковые запросы “авторакета” и “сергей пашковский” любая поисковая система выдаст
                          информацию о компании - сделках и
                          интересных фактах о работе. Телефонные номера компании постоянные, их легко проверить.</p>
                        <p>2. Прозрачность деятельности.
                          Во избежание юридических недоразумений каждая сделка оформляется договором, составленным
                          согласно действующему
                          законодательству.
                        </p>
                        <p>3. Контроль за каждым этапом работы.
                          Руководитель компании лично заверяет составленные договоры и строго следит за выполнением
                          задач
                          другими службами -
                          менеджерами по автоподбору и финансовым отделом.</p>
                        <p>
                          4. Компания приступает к выполнению обязательств по договору сразу же после согласования с
                          клиентом его запросов и
                          пожеланий. Поиск машины начинается без отлагательств, а клиент имеет возможность наблюдать за
                          процессом на любом этапе и
                          получает информацию о сделке на текущий момент.
                        </p>
                        <p>
                          5. В конце сделки клиент гарантировано получает выбранный автомобиль в соответствии с
                          изначальным
                          запросом. Скрытые
                          дефекты отсутствуют, т.к весь перечень обнаруженных дефектов будет указан в видео и фотоотчете
                          об
                          осмотре автомобиля
                          перед покупкой.
                        </p>
                        <p>
                          6. Помощь в оформлении документов.
                          Сотрудники компании помогают клиентам подготовить все необходимые документы и пройти сложные
                          бюрократические процессы
                          быстро и спокойно.
                        </p>
                        <div class="impl_pst_info impl_toppadder10">
                          <ul class="impl_pst_views">
                            <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 413</a></li>
                            <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 251</a></li>
                            <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 5</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>