<div class="modal" id="modal-auto-korea">
  <div class="modal__info">
    <button type="button" class="close close-success" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <p class="modal__content">
      Перестановка валюты в разные страны мира $, €, 🔥 С минимальным тарифом!💶💵
    </p>
    <a href="korea1.html" class="impl_btn">Перейти</a>
  </div>
</div>