<div class="modal" id="call">
  <div class="impl_signin">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <form method="POST" action="#" class="impl_sign_form">
      <h2 class="callback mb-5">Обратный звонок</h2>
      <div class="form-group">
        <input type="tel" placeholder="Телефон" class="form-control">
        <span class="form_icon">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Имя" class="form-control">
        <span class="form_icon">
          <i class="fa fa-info" aria-hidden="true"></i>
        </span>
      </div>
      <div class="form-group">
        <textarea type="text" placeholder="Сообщение" class="form-control"></textarea>
        <span class="form_icon">
          <i class="fa fa-send" aria-hidden="true"></i>
        </span>
      </div>
      <button class="impl_btn" type="button">Отправить</button>
      <p>Наш менеджер вам перезвонит</p>
    </form>
    <div class="impl_sign_img">
      <h2>Welcome To Impel Cars</h2>
      <p>A Perfect Zone To Sell And Purchase Cars</p>
      <div class="impl_sign_bottom">
        <h3>It’s Not Just A Car </h3>
        <h3>It’s Someone’s Dream</h3>
      </div>
    </div>
  </div>
</div>