<div class="modal modal-toast" id="modal-credit">
  <div class="modal__info">
    <button type="button" class="close close-success" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <p class="modal__content">
      Просто мечтай, а&nbsp;мы&nbsp;сделаем так, <br> чтобы ты&nbsp;ехал!
      Выгодные условия автокредитования от&nbsp;компании &laquo;Авторакета&raquo;
    </p>
    <a href="credit.html" class="impl_btn">Посмотреть</a>
  </div>
</div>