<div class="modal" id="success-request">
  <div class="impl_signin">
    <button type="button" class="close close-success" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <div class="impl_sign_img">
      <h2>Зaявка успешно отправлена</h2>
      <div class="impl_sign_bottom">
        <h3>Это не просто машина</h3>
        <h3>Это сбывшаяся мечта</h3>
      </div>
    </div>
  </div>
</div>