<div class="modal" id="success-request">
  <div class="impl_signin">
    <button type="button" class="close close-success" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <div class="impl_sign_img">
      <div class="impl_sign_bottom">
        <h2 class="moda__success-title">Зaявка успешно отправлена</h2>
      </div>
    </div>
  </div>
</div>