<div class="modal" id="info">
  <div class="modal__info">
    <button type="button" class="close close-success" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <p class="modal__content">
      Перестановка валюты в разные страны мира $, €, 🔥 С минимальны тарифом!💶💵
    </p>
    <a href="http://avtoraketa-perevod.site" target="_blank" class="impl_btn">Перейти</a>
  </div>
</div>