{{!-- <div class="modal modal-toast" id="info">
  <div class="modal__info">
    <button type="button" class="close close-success" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <p class="modal__content">
      Перестановка валюты <span class="nowrap">в разные</span> страны <span class="nowrap">на выгодных</span> условиях и
      <span class="nowrap">с минимальным</span> тарифом.
    </p>
    <a href="https://avtoraketa.com/perevod.html" class="impl_btn">Перейти</a>
  </div>
</div> --}}

<div class="modal modal-toast" id="info">
  <div class="modal__info">
    <button type="button" class="close close-success" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <p class="modal__content">
      Стать Агентом компании Авторакета
    </p>
    <a target="_blank" href="https://t.me/AvtoraketaLeads_bot?start=w45468305" class="impl_btn">Перейти</a>

    {{!-- ? Google Form's link https://forms.gle/p57vkXquUdvCsqMz9 --}}

  </div>
</div>