<div class="modal" id="info">
  <div class="modal__info">
    <button type="button" class="close close-success" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <p class="modal__content">
      Перестановка валюты <span class="nowrap">в разные</span> страны <span class="nowrap">на выгодных</span> условиях и
      <span class="nowrap">с минимальным</span> тарифом.
    </p>
    <a href="https://avtoraketa.com/perevod.html" class="impl_btn">Перейти</a>
  </div>
</div>