<footer class="impl_footer_wrapper">
  <div class="impl_social_wrapper">
    <ul>
      <li><a href="https://www.facebook.com/avtoraketa" target="_blank"><i class="fa fa-facebook"
            aria-hidden="true"></i></a></li>
      <li><a href="https://youtube.com/channel/UCpD6zdAd1jLHAn2EBr673Cw" target="_blank"><i class="fa fa-youtube-play"
            aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/avtoraketa/" target="_blank"><i class="fa fa-instagram"
            aria-hidden="true"></i></a></li>
      <li><a href="https://chat.whatsapp.com/Ez0IniDzGsuCwxlXhMJ16H" target="_blank"><i class="fa fa-whatsapp"
            aria-hidden="true"></i></a></li>
      <li><a href="https://t.me/AvtoraketaKZ" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="impl_foo_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-5">
          <div class="impl_foo_box footer_abt_text">
            <p>Авторакета - это компания, которая осуществляет услуги по покупке и доставке автомобилей
              из США во все страны бывшего СНГ. Мы
              предоставляем гарантию на все свои услуги, платежи прозрачны, а стоимость Вас приятно удивит.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <section class="impl_foo_box">
            <h2 class="impl_foo_title mb-3">Контакты</h2>
            <ul>
              <li>
                <div class="impl_foo_icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="impl_foo_text">
                  <a href="tel:+7(903)454-74-64">+7(903)454-74-64</a>
                </div>
              </li>
              <li>
                <div class="impl_foo_icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="impl_foo_text">
                  <p>Рустави, рынок &#171;Автопапа&#187;, офис 7</p>
                </div>
              </li>
              <li>
                <div class="impl_foo_icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="impl_foo_text">
                  <a href="https://gmail.com" target="_blank">avtoraketa36@gmail.com</a>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</footer>
<!----Bottom Footer Start---->
<div class="impl_btm_footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p class="impl_copyright">
          @2022 Разработано <a href="http://portfolio-site.rf.gd" target="_blank"><b>Valerij Shumkov</b></a></p>
      </div>
    </div>
  </div>
</div>