<header class="impl_header_wrapper">
  <div class="impl_logo">
    <a href="https://avtoraketa.com"><img src="@img/logo.svg" alt="Logo" class="img-logo"></a>
  </div>
  <h1 class="visually-hidden">
    Серсис поиска автомобилей по всей территории России
  </h1>
  {{>top-header}}
  {{>../popups/call}}
  {{>../popups/success-request}}
  {{>menu}}
</header>