<header class="impl_header_wrapper">
  <div class="impl_logo">
    <a href="index.html"><img src="@img/logo.png" alt="Logo" class="img-logo"></a>
  </div>
  <h1 class="visually-hidden">
    Серсис поиска автомобилей по всей территории России
  </h1>
  <div class="impl_top_header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="impl_top_info">
            <ul class="impl_header_social">
              <li><a href="https://www.facebook.com/avtoraketa" target="_blank"><i class="fa fa-facebook"
                    aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
              <li>
                <a href="tel:+7(707)990-01-47">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  +7(707)990-01-47
                </a>
              </li>
            </ul>
            <p class="impl_header_time"><i class="fa fa-mail-forward" aria-hidden="true"></i><a href="https://gmail.com"
                target="_blank">avtoraketa.com.ua@gmail.com</a></p>
            <ul class="impl_header_icons">
              <li class="impl_search"><span><i class="fa fa-search" aria-hidden="true"></i></span>
              </li>
              {{!-- <li><a href="#"><i class="fa fa-exchange" aria-hidden="true"></i></a></li> --}}
              {{!-- <li class="cart-popup"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                <!--shopping cart box-->
                <div class="cart-box">
                  <div class="popup-container">
                    <div class="cart-entry">
                      <a href="#" class="image">
                        <img src="@img/main/service_car.png" alt="">
                      </a>
                      <div class="content">
                        <a href="#" class="title">Serpent</a>
                        <p class="quantity">Quantity: 1</p>
                        <span class="price">$4500.00</span>
                      </div>
                      <div class="button-x">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="cart-entry">
                      <a href="#" class="image">
                        <img src="@img/main/honda.webp" alt="">
                      </a>
                      <div class="content">
                        <a href="#" class="title">Empire</a>
                        <p class="quantity">Quantity: 1</p>
                        <span class="price">$900.00</span>
                      </div>
                      <div class="button-x">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="summary">
                      <div class="subtotal">Sub Total</div>
                      <div class="price-s">$5100.0</div>
                    </div>
                    <div class="cart-buttons">
                      <a href="checkout.html" class="btn impl_btn">View Cart</a>
                      <a href="checkout.html" class="btn impl_btn">Checkout</a>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </li> --}}
              <li>
                <a href="#call" data-toggle="modal"><i class="fa fa-bell" aria-hidden="true"></i></a>
              </li>
            </ul>
            <div class="impl_search_overlay">
              <div class="impl_search_area">
                <div class="srch_inner">
                  <form action="#">
                    <input class="search-field" type="text" placeholder="Поиск...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>
                  <div class="srch_close_btn">
                    <span class="srch_close_btn_icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>../popups/call}}
  {{>../popups/success-request}}
  <!--menu start-->
  <div class="impl_menu_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <button class="impl_menu_btn">
            <i class="fa fa-car" aria-hidden="true"></i>
            <i id="menu-bars" class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div class="impl_menu_inner">
            <div class="impl_logo_responsive">
              <a href="index.html"><img src="@img/logo.png" alt="Logo" class="img-logo"></a>
            </div>
            <a href="#call" data-toggle="modal" class="impl_btn">Обратный звонок</a>
            <a href="https://t.me/Pashkovskiyavto" target="_blank" class="impl_btn" data-toggle="tooltip"
              data-placement="bottom"
              title="Перестановка валюты в разные страны мира $, €, 🔥 С минимальны тарифом!💶💵">
              Международные переводы
            </a>
            <div class="impl_menu">
              <nav>
                <div class="menu_cross">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <ul>
                  <li><a href="index.html" class="active">Главная</a></li>
                  <li><a href="about.html">О компании</a></li>
                  <li><a href="service.html">Услуги</a></li>
                  <li><a href="contact.html">Контакты</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>