<div id="preloader">
  <div id="status">
    <img src="@img/logo.png" alt="" />
    <div class="loader">
      Loading...
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>