<li>
  <div class="recent_cmnt_img">
    <img src="@img/blog/recent/picture-recent03.jpeg" alt="" aria-hidden="true">
  </div>
  <div class="recent_cmnt_data">
    <h4><a href="#blog04">Покупка авто из США. Как разобраться?</a></h4>
    <span>14 Сентября 2022</span>
  </div>
</li>