<li>
  <div class="recent_cmnt_img">
    <img src="@img/blog/recent/picture-recent01.jpeg" alt="" aria-hidden="true">
  </div>
  <div class="recent_cmnt_data">
    <h4><a href="#blog02">Автобезопасность - начало и развитие.</a></h4>
    <span>07 Октября 2022</span>
  </div>
</li>