<li>
  <div class="recent_cmnt_img">
    <img src="@img/blog/recent/picture-recent02.jpeg" alt="" aria-hidden="true">
  </div>
  <div class="recent_cmnt_data">
    <h4><a href="#blog03">Рейтинг ситуаций, которые может предотвратить своевременная диагностика</a></h4>
    <span>20 Ноября 2022</span>
  </div>
</li>