<aside class="impl_sidebar">
  <div class="widget widget_recent_entries">
    <h2 class="widget-title">Недвание посты</h2>
    <ul>
      {{>recents/recent01}}
      {{>recents/recent02}}
      {{>recents/recent03}}
    </ul>
  </div>
  {{>tags}}
</aside>