<div class="widget widget_tag_cloud">
  <h2 class="widget-title">Теги</h2>
  <ul>
    <li><a href="#">ДТП</a></li>
    <li><a href="#">Краш тест</a></li>
    <li><a href="#">Диагностика авто</a></li>
    <li><a href="#">Автосервис</a></li>
    <li><a href="#">Авто из США</a></li>
    <li><a href="#">Подбор машины</a></li>
    <li><a href="#">Доставка авто</a></li>
  </ul>
</div>