<section class="impl_contact_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1">
        <div class="impl_con_form">
          <div class="contact_map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95578.82271432679!2d45.02047055!3d41.5294451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404401a12359047b%3A0x920e6898a197d475!2z0KDRg9GB0YLQsNCy0LgsINCT0YDRg9C30LjRjw!5e0!3m2!1sru!2sru!4v1667055633136!5m2!1sru!2sru"
              width="130%" height="450" style="border:0; border-radius: 5px;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
          </div>
          <div class="col-lg-12 col-md-12">
            <h1>Напишите нам</h1>
          </div>
          <form>
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <input type="text" name="first_name" class="form-control require" placeholder="Ваше имя">
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <input type="text" name="email" class="form-control require" placeholder="Ваш email" data-valid="email"
                  data-error="Email should be valid.">
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="form-group">
                <textarea name="message" class="form-control" placeholder="Ваше сообщение"></textarea>
              </div>
            </div>
            <div class="response"></div>
            <div class="col-lg-12 col-md-12">
              <input type="hidden" name="form_type" value="contact">
              <button type="button" class="impl_btn submitForm">Отправить сообщение</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="impl_contact_info">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="impl_contact_box">
                <div class="impl_con_data">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <h2>Телефоны</h2>
                  <a class="contact-link" href="tel:+7(707)990-01-47">+7(707)990-01-47</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="impl_contact_box">
                <div class="impl_con_data">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  <h2>Адрес</h2>
                  <addres class="contact-link">
                    Грузия, г. Рустави
                  </addres>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="impl_contact_box">
                <div class="impl_con_data">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <h2>E - mail</h2>
                  <a class="contact-link" href="https://gmail.com" target="_blank">avtoraketa.com.ua@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>