<div class="impl_error_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="error_text">
          <div class="error_text_inner">
            <span class="err_1">4</span>
            <span class="err_2">0</span>
            <span class="err_3">4</span>
          </div>
          <h2>ooopps....</h2>
          <p>Данная страница не найдена. </p>
          <a href="index.html" class="impl_btn">Главная</a>
        </div>
      </div>
    </div>
  </div>
</div>