<section class="impl_blog_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="impl_heading">
          <h2>Последние новости</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        {{!-- Blog 1 --}}
        <article class="impl_blog_box impl_blog_right">
          <div class="row">
            <div class="col-lg-4 col-md-12 push-lg-8">
              <div class="impl_post_img">
                <img src="@img/blog/picture-blog09.jpg" alt="" class="img-fluid" />
                <span class="impl_pst_date">
                  1 Окт
                </span>
                <div class="impl_pst_img_icon"><a href="blog.html#blog09" class="fa fa-link"></a></div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12 pull-lg-4">
              <div class="impl_post_data">
                <h2>Как выбрать авто без головной боли: немного юмора и реальности</h2>
                <p>Выбор автомобиля иногда кажется марафоном с препятствиями: цены скачут, пробеги путаются, а продавцы
                  уверяют, что
                  «это самая лучшая машина на свете». Чтобы не сойти с ума, держитесь нескольких правил.
                </p>
                <div class="impl_pst_info">
                  <div class="impl_pst_admin">
                    <span><a href="#" onclick="return false;">admin</a></span>
                    <span><a href="#" onclick="return false;">25 Января 2026</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!--Blog 2 -->
        <article class="impl_blog_box">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="impl_post_img">
                <img src="@img/blog/picture-blog08.jpg" alt="" class="img-fluid" />
                <span class="impl_pst_date">
                  28 Сен
                </span>
                <div class="impl_pst_img_icon"><a href="blog.html#blog08" class="fa fa-link"></a></div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="impl_post_data">
                <h2>Пригон авто за рубеж: как Россия изменила правила игры</h2>
                <p>Раньше пригнать автомобиль из-за границы было почти приключением в духе Indiana Jones: длинные
                  очереди, море
                  документов и непредсказуемые цены. Сегодня всё иначе — логистика ускорилась, а компания «Авторакета»
                  делает процесс
                  <strong>простым и прозрачным</strong>.
                </p>
                <div class="impl_pst_info">
                  <div class="impl_pst_admin">
                    <span><a href="#" onclick="return false;">admin</a></span>
                    <span><a href="#" onclick="return false;">28 Декабря 2025</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        {{!-- Blog 3 --}}
        <article class="impl_blog_box impl_blog_right">
          <div class="row">
            <div class="col-lg-4 col-md-12 push-lg-8">
              <div class="impl_post_img">
                <img src="@img/blog/picture-blog07.jpg" alt="" class="img-fluid" />
                <span class="impl_pst_date">
                  14 Сен
                </span>
                <div class="impl_pst_img_icon"><a href="blog.html#blog07" class="fa fa-link"></a></div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12 pull-lg-4">
              <div class="impl_post_data">
                <h2>Авто на заказ: как не потеряться в бумагах и ценах</h2>
                <p>Пригон автомобиля под заказ сегодня — это уже не приключение в стиле «Индиана Джонс», но всё равно
                  требует
                  внимательности. В России бюрократия, пошлины и курсы валют могут превратить процесс покупки в
                  настоящий квест.
                </p>
                <div class="impl_pst_info">
                  <div class="impl_pst_admin">
                    <span><a href="#" onclick="return false;">admin</a></span>
                    <span><a href="#" onclick="return false;">14 Сентября 2025</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!--Blog 4 -->
        <article class="impl_blog_box">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="impl_post_img">
                <img src="@img/blog/picture-blog06.jpg" alt="" class="img-fluid" />
                <span class="impl_pst_date">
                  2 Мая
                </span>
                <div class="impl_pst_img_icon"><a href="blog.html#blog06" class="fa fa-link"></a></div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="impl_post_data">
                <h2>Какие автобренды россияне ждут больше всего?</h2>
                <p>
                  Последние исследования <b>Автостата</b> показали, какие марки автомобилей наши соотечественники хотели
                  бы снова
                  увидеть
                  на
                  российском рынке. Результаты получились интересными!
                  Топ ожидаемых брендов.
                </p>
                <div class="impl_pst_info">
                  <div class="impl_pst_admin">
                    <span><a href="#" onclick="return false;">admin</a></span>
                    <span><a href="#" onclick="return false;">10 Августа 2025</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>