<div class="impl_searchbox_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <form action="#" method="POST" class="form-request impl_search_box custom_select">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="impl_select_boxes">
                <input required type="text" name="name" placeholder="Ваше имя" class="nice-input">
                <input required type="tel" name="tel" placeholder="Ваш телефон" class="tel nice-input">
                <input required type="text" name="city" placeholder="Ваш город" class="nice-input">
                <input required type="text" name="model" placeholder="Модель автомобиля" class="nice-input">
                <select class="select-year">
                  <option>Год не указан</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                </select>
                <div class="price_range">
                  <label>Цена ₽</label>
                  <input type="text" id="range_24" name="ionRangeSlider" value="" />
                </div>
              </div>
              <div class="impl_search_btn">
                <button class="impl_btn mb-3" type="submit">Отправить заявку</button>
                <a href="#call" data-toggle="modal" class="impl_btn mb-3 link">Обратный звонок</a>
                <a href="#info" data-toggle="modal" class="impl_btn link">
                  Международные переводы
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{>../popups/transit-info}}