<section class="impl_featured_wrappar" id="view-cars">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="impl_heading">
          <h2>Рекомендуемые автомобили</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="impl_fea_car_box">
          <div class="impl_fea_car_img">
            <img src="@img/features/rav01.webp" alt="Toyota RAV4 2019" class="img-fluid impl_frst_car_img" />
            <img src="@img/features/rav02.webp" alt="Toyota RAV4 2019" class="img-fluid impl_hover_car_img" />
            <span class="impl_img_tag" title="compare"><i class="fa fa-exchange" aria-hidden="true"></i></span>
          </div>
          <div class="impl_fea_car_data">
            <h2><a href="#">Toyota</a></h2>
            <ul>
              <li><span class="impl_fea_title">Модель</span>
                <span class="impl_fea_name">RAV4</span>
              </li>
              <li><span class="impl_fea_title">Год</span>
                <span class="impl_fea_name">2019</span>
              </li>
              <li><span class="impl_fea_title">Цвет</span>
                <span class="impl_fea_name">Белый</span>
              </li>
            </ul>
            <div class="impl_fea_btn">
              <a href="#call" data-toggle="modal" class="impl_btn"><span class="impl_doller">2.200.000 ₽</span><span
                  class="impl_bnw">заказать</span></a>
            </div>
          </div>
        </article>
      </div>
      <!--2-->
      <div class="col-lg-4 col-md-6">
        <article class="impl_fea_car_box">
          <div class="impl_fea_car_img">
            <img src="@img/features/toyota01.jpeg" alt="" class="img-fluid impl_frst_car_img" />
            <img src="@img/features/toyota02.jpeg" alt="" class="img-fluid impl_hover_car_img" />
            <span class="impl_img_tag" title="compare"><i class="fa fa-exchange" aria-hidden="true"></i></span>
          </div>
          <div class="impl_fea_car_data">
            <h2> <a href="#">Toyota</a></h2>
            <ul>
              <li><span class="impl_fea_title">Модель</span>
                <span class="impl_fea_name">Camry</span>
              </li>
              <li><span class="impl_fea_title">Год</span>
                <span class="impl_fea_name">2019</span>
              </li>
              <li><span class="impl_fea_title">Цвет</span>
                <span class="impl_fea_name">Белый</span>
              </li>
            </ul>
            <div class="impl_fea_btn">
              <a href="#call" data-toggle="modal" class="impl_btn"><span class="impl_doller">1.600.000 ₽ </span><span
                  class="impl_bnw">заказать</span></a>
            </div>
          </div>
        </article>
      </div>
      <!--3-->
      <div class="col-lg-4 col-md-6">
        <article class="impl_fea_car_box">
          <div class="impl_fea_car_img">
            <img src="@img/features/merz02.jpeg" alt="" class="img-fluid impl_frst_car_img" />
            <img src="@img/features/merz01.png" alt="" class="img-fluid impl_hover_car_img" />
            <span class="impl_img_tag" title="compare"><i class="fa fa-exchange" aria-hidden="true"></i></span>
          </div>
          <div class="impl_fea_car_data">
            <h2><a href="#">Mercedes</a></h2>
            <ul>
              <li><span class="impl_fea_title">Модель</span>
                <span class="impl_fea_name">GLE Coupe</span>
              </li>
              <li><span class="impl_fea_title">Год</span>
                <span class="impl_fea_name">2020</span>
              </li>
              <li><span class="impl_fea_title">Цвет</span>
                <span class="impl_fea_name">Красный</span>
              </li>
            </ul>
            <div class="impl_fea_btn">
              <a href="#call" data-toggle="modal" class="impl_btn"><span class="impl_doller">3.600.000 ₽</span><span
                  class="impl_bnw">заказать</span></a>
            </div>
          </div>
        </article>
      </div>
      <!--4-->
      <div class="col-lg-4 col-md-6">
        <article class="impl_fea_car_box">
          <div class="impl_fea_car_img">
            <img src="@img/features/lex01.jpeg" alt="" class="img-fluid impl_frst_car_img" />
            <img src="@img/features/lex02.jpeg" alt="" class="img-fluid impl_hover_car_img" />
            <span class="impl_img_tag" title="compare"><i class="fa fa-exchange" aria-hidden="true"></i></span>
          </div>
          <div class="impl_fea_car_data">
            <h2><a href="#">Lexus</a></h2>
            <ul>
              <li><span class="impl_fea_title">Модель</span>
                <span class="impl_fea_name">LX600</span>
              </li>
              <li><span class="impl_fea_title">Год</span>
                <span class="impl_fea_name">2022</span>
              </li>
              <li><span class="impl_fea_title">Цвет</span>
                <span class="impl_fea_name">Серебристый</span>
              </li>
            </ul>
            <div class="impl_fea_btn">
              <a href="#call" data-toggle="modal" class="impl_btn"><span class="impl_doller">14.400.000 ₽</span><span
                  class="impl_bnw">заказать</span></a>
            </div>
          </div>
        </article>
      </div>
      <!--5-->
      <div class="col-lg-4 col-md-6">
        <article class="impl_fea_car_box">
          <div class="impl_fea_car_img">
            <img src="@img/features/lex-sedan01.jpeg" alt="" class="img-fluid impl_frst_car_img" />
            <img src="@img/features/lex-sedan02.jpeg" alt="" class="img-fluid impl_hover_car_img" />
            <span class="impl_img_tag" title="compare"><i class="fa fa-exchange" aria-hidden="true"></i></span>
          </div>
          <div class="impl_fea_car_data">
            <h2><a href="#">Lexus</a></h2>
            <ul>
              <li><span class="impl_fea_title">model</span>
                <span class="impl_fea_name">ES300</span>
              </li>
              <li><span class="impl_fea_title">Год</span>
                <span class="impl_fea_name">2019</span>
              </li>
              <li><span class="impl_fea_title">Цвет</span>
                <span class="impl_fea_name">Серебристый</span>
              </li>
            </ul>
            <div class="impl_fea_btn">
              <a href="#call" data-toggle="modal" class="impl_btn"><span class="impl_doller">3.900.000 ₽</span><span
                  class="impl_bnw">заказать</span></a>
            </div>
          </div>
        </article>
      </div>
      <!--6-->
      <div class="col-lg-4 col-md-6">
        <article class="impl_fea_car_box">
          <div class="impl_fea_car_img">
            <img src="@img/features/lex-cross01.jpeg" alt="" class="img-fluid impl_frst_car_img" />
            <img src="@img/features/lex-cross02.jpeg" alt="" class="img-fluid impl_hover_car_img" />
            <span class="impl_img_tag" title="compare"><i class="fa fa-exchange" aria-hidden="true"></i></span>
          </div>
          <div class="impl_fea_car_data">
            <h2><a href="#">Lexus</a></h2>
            <ul>
              <li><span class="impl_fea_title">Модель</span>
                <span class="impl_fea_name">Rx350</span>
              </li>
              <li><span class="impl_fea_title">Год</span>
                <span class="impl_fea_name">2019</span>
              </li>
              <li><span class="impl_fea_title">Цвет</span>
                <span class="impl_fea_name">Серебристый</span>
              </li>
            </ul>
            <div class="impl_fea_btn">
              <a href="#call" data-toggle="modal" class="impl_btn"><span class="impl_doller">3.650.000 ₽</span><span
                  class="impl_bnw">заказать</span></a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>