<section class="impl_help_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1">
        <div class="impl_help_data">
          <h2>НУЖНА ПОМОЩЬ НАЙТИ АВТОМОБИЛЬ?</h2>
          <p>Повзоните сейчас</p>
          <a href="tel:+7(903)454-74-64">
            <div class="impl_help_no"><span>+7(903)454-74-64</span></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>