<div class="impl_service_wrapper">
  <div class="impl_service_car">
    <img src="@img/main/service_car.png" alt="" />
  </div>
  <div class="impl_service_video">
    <div class="impl_video_inner">
      <div class="impl_servdo_video">
        <a class="impl-popup-youtube"
          href="https://www.youtube.com/watch?v=pWBhBYtidew&list=PL_gJL30GBIOgnk10xVdQwt2d_8cBtz5-1&ab_channel=AVTORAKETA"
          target="_blank">
          <span class="impl_play_icon"><i class="fa fa-play" aria-hidden="true"></i></span>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <div class="impl_service_left">
          <div class="impl_service_details">
            <div class="impl_heading">
              <h2>Услуги</h2>
            </div>
            <div class="impl_timeline_wrapper">
              <ul class="impl_timeline">
                <li>
                  <div class="impl_tl_item">
                    <h2>Покупка авто <br> на аукционе</h2>
                    <span class="impl_tl_icon">
                      <i class="fa fa-automobile" aria-hidden="true"></i>
                    </span>
                  </div>
                </li>
                <li>
                  <div class="impl_tl_item impl_tl_item_rt">
                    <h2>Выкуп авто <br>в Грузии</h2>
                    <span class="impl_tl_icon">
                      <i class="fa fa-paypal" aria-hidden="true"></i>
                    </span>
                  </div>
                </li>
                <li>
                  <div class="impl_tl_item">
                    <h2>Доставка в <br>Ваш город</h2>
                    <span class="impl_tl_icon">
                      <i class="fa fa-send-o" aria-hidden="true"></i>
                    </span>
                  </div>
                </li>
                <li>
                  <div class="impl_tl_item impl_tl_item_rt">
                    <h2>Муждународные денежные переводы</h2>
                    <span class="impl_tl_icon">
                      <i class="fa fa-dollar" aria-hidden="true"></i>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>