<div class="impl_welcome_wrapper impl_bottompadder80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="impl_welcome_img">
          <img src="@img/main/toyota-land.png" alt="Welcome" class="img-responsive">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="impl_welcome_text">
          <h2 class="mb-4">3 ПРОСТЫХ ШАГА К ВАШЕМУ АВТОМОБИЛЮ:</h2>
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse"
                    data-parent="#accordion" href="#collapseOne">БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ И ПОДПИСАНИЕ ДОГОВОРА.</a>
                </h3>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in show">
                <div class="panel-body">
                  Менеджер ответит на все ваши вопросы о покупке авто, расскажет об особенностях процесса и
                  ценообразовании авто из
                  США и Грузии. Подписания официального договора в нашем офисе или удаленно.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapseTwo">ПОДБОР И ВЫКУП АВТОМОБИЛЯ.</a></h3>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Экспертный отдел подберет для вас 5-10 вариантов автомобилей, проверит их историю и состояние.После
                  утверждения вами
                  варианта автомобиля наши специалисты участвуют в торгах за авто на аукционе или выкупаем авто из
                  Грузии.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapseThree">ЛОГИСТИКА И РАСТАМОЖКА.</a></h3>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  После оплаты выкупленного авто и сопутствующих платежей, ваш автомобиль будет доставлен. После
                  растаможки
                  автомобиль будет готов к выдаче.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>