<article class="impl_blog_box" id="blog02">
  <div class="impl_post_img">
    <img src="@img/blog/picture-blog02.jpg" aria-hidden="true" alt="" class="img-fluid" />
    <span class="impl_pst_date">
      07 Окт
    </span>
    <div class="impl_pst_img_icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="impl_post_data">
    <h2>Автобезопасность - начало и развитие</h2>
    <p>
      О безопасности автомобилей начали задумываться далеко не сразу. Лишь к 1930 году в Нью Йорке,
      когда количество дтп резко
      возросло, автопроизводители стали разрабатывать первые проекты.
      Прочность кузова. Почему важно?
      Главным критерием тогда была прочность кузова, однако, чем толще применялась сталь, тем
      автомобиль становился тяжелее и
      неповоротливее. Только по прошествии некоторого времени, инженеры поняли, что корпус автомобиля
      должен быть изготовлен
      из податливых материалов, ведь в противном случае вся энергия от любого столкновения
      направляется в салон, что приводит
      в большинстве случаев к летальным исходам из-за удара грудной клеткой об руль или перелома шеи в
      результате откидывания
      головы назад.
      Первый краш-тест.
    </p>
    <p>
      Чтобы понять, как ведет себя человеческое тело при аварии, компания Дженерал Моторз впервые
      провела краш-тест, который
      положил начало всем будущим разработкам по автобезопасности. Для такого эксперимента создали
      специальную площадку с
      искусственным покрытием. Значительно позже тесты проводили на улице, изощряясь во всевозможных
      вариантах: автомобили
      участвовали в постановочных дтп, сбрасывались с обрыва, ударялись с разгона о стены. Что самое
      умопомрачительное, за
      рулем при таких тестах находились живые люди.
    </p>
    <p>
      В 1930 году автоинженеры знали о человеческом теле очень мало, поэтому тогдашние манекены,
      изготовленные из пластика,
      признались неэффективными, а испытания с их использованием не приносили ответов на вопросы, а
      лишь добавляли проблем.
      Чуть позже в тестах стали использовать трупы людей, которые погибли собственной смертью. Это
      радикальный и жуткий шаг
      принес первые плоды. Статистика радовала - один труп, приняв участие в краш-тесте, мог спасти в
      будущем более 8 тысяч
      жизней. “Умершие” участники краш-тестов были удобны и для дальнейшего изучения, т.к. после теста
      можно было подробно
      изучить полученные переломы, раны и другие повреждения.
      Уже к 1950 году количество автомобилей стало расти еще быстрее, а количество аварий и,
      соответственно, пострадавших, -
      возрастало в геометрической прогрессии. Многие производители стали отказываться от испытаний на
      трупах, ведь это носило
      еще и неприятный нравственный аспект.
      После этого в качестве подопытных стали использовать свиней, предварительно вводя их в наркоз.
    </p>
    <p>
      Выбор именно этого
      животного вполне обоснован - их структура тела наиболее приближена к человеческой.
      Постепенно испытания приобретали все более современный вид. На данный момент, компании
      производят краш-тесты при помощи
      компьютерного моделирования, что значительно дешевле и гуманнее по сравнению с использованием в
      прошлом веке - трупов
      или свиней.
      Автобезопасность - неотъемлемый атрибут любого автомобиля.
    </p>
    <div class="impl_pst_info">
      <div class="impl_pst_admin">
        <span><a href="#">admin</a></span>
        <span><a href="#">07 Октября 2022</a></span>
      </div>
      <ul class="impl_pst_views">
        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 130</a></li>
        <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 92</a></li>
        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 1588</a></li>
      </ul>
    </div>
  </div>
</article>