<article class="impl_blog_box" id="blog03">
  <div class="impl_post_img">
    <img src="@img/blog/picture-blog03.jpg" aria-hidden="true" alt="" class="img-fluid" />
    <span class="impl_pst_date">
      20 Ноя
    </span>
    <div class="impl_pst_img_icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="impl_post_data">
    <h2>Рейтинг ситуаций, которые может предотвратить своевременная диагностика</h2>
    <p>
      Каждый водитель непонаслышке знает, как неприятно оказаться в ситуации, когда автомобиль
      неожиданно ломается в самых
      непредвиденных местах, а ремонт обходится в весомую сумму. Чтобы не получать от своей машины
      таких сюрпризов, рассмотрим
      5 самых популярных проблем, на которые водитель зачастую не обращает внимания до первой
      непредвиденной ситуации на
      дороге.
    </p>
    <ol>
      <li>
        Низкий уровень масла в двигателе. Если уровень масла доходит до критически низкой отметки,
        то двигатель начинает
        работать <b>“на износ”</b>, он перегревается и вскоре вовсе выходи из строя. Зачастую двигатель
        отремонтировать либо слишком
        дорого, либо вообще невозможно. Не стоит откладывать 5-минутный визит в автосервис, чтобы быть
        в курсе уровня масла и
        заменить или добавить его при необходимости.
      </li>
      <li>
        Повреждение подвесок. Слишком частые поездки, плохие дороги, грязь, снег незамедлительно
        отражаются на состоянии
        ходового механизма. Водитель начинает слышать стуки и дополнительную вибрацию. <strong>Диагностика
          ходовой</strong> займет немного
        времени, но ее своевременность сыграет на руку автолюбителю.
      </li>
      <li>
        Тормоза также любят своевременное посещение автосервиса. Диагностика выявляет мельчайшие
        проблемы тормозной системы,
        решает вопросы с работой суппортов и тормозной жидкости. Не стоит откладывать <b>“лечение”
          тормозов</b>, ведь эта система
        крайне важна в автомобиле, и это известно каждому водителю, однако всвязи с занятостью или
        невнимательностью, могут
        возникать самые непредвиденные ситуации на дороге.
      </li>
      <li>
        Перегрев автомобиля. Своевременная диагностика системы охлаждения и проверка уровня
        антифриза поможет избежать утечки
        жидкости и не допустит такого опасного перегрева.
      </li>
      <li>
        <b>Деформация дисков</b>. Плохие дороги зачастую приводят к тому, что колеса деформируются из-за
        неплотного прилегания шины.
        Диагностика колес путем их снятия и подробного изучения позволяет тщательно рассмотреть и
        предотвратить риск такой
        неисправности, хотя на первых порах достаточно вовремя подкачивать колеса.
      </li>
    </ol>
    <div class="impl_pst_info">
      <div class="impl_pst_admin">
        {{!-- <span><a href="#">admin</a></span> --}}
        {{!-- <span><a href="#">20 Ноября 2022</a></span> --}}
      </div>
      <ul class="impl_pst_views">
        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 614</a></li>
        <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 65</a></li>
        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 78</a></li>
      </ul>
    </div>
  </div>
</article>