<article class="impl_blog_box">
  <div class="impl_post_img">
    <img src="@img/blog/picture-blog01.jpg" aria-hidden="true" alt="" class="img-fluid" />
    <span class="impl_pst_date">
      28 Ноя
    </span>
    <div class="impl_pst_img_icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="impl_post_data">
    <h2>Кроссоверы из Южной Кореи лидеры в РФ по ценовой политике</h2>
    <p>
      Инженеры южнокорейских автопроизводителей не останавливаются ни на день. Автомобили из этой
      загадочной и консервативной
      страны приобретают поклонников со скоростью света.
      Эти машины сохраняют актуальность модификации полного привода. Если досконально изучить
      прайс-листы ведущих
      автопроизводителей, то в список самых дешевых полноприводных автомобилей входят следующие
      флагманы:
    </p>
    <ul>
      <li>
        Hyundai Creta, ставшая в октябре 2022 года самой популярной машиной в России. С
        комплектацией
        Classic и полным
        приводом ее цена начинается от 2 млн. руб. За эту цену покупатель получает неплохой кроссовер
        с
        1,6 л. двигателем в 120
        лошадиных сил, 6 ступенчатой коробкой передач, а если экземпляр подороже, то двигатель будет 2
        литровым с силой уже 150,
        а коробка передач - автоматической. Колеса 16 или 17 дюймовые. Длина Креты 4,3 м., ширина -
        1,79
        м., а высота 1,6 м. В
        салоне удобно расположатся 5 человек.
      </li>
      <li>
        Kia Sorento в комплектации Комфорт обойдется автолюбителю в 3,9 млн. руб. За эту сумму
        покупатель приобретет не только
        машину с достойным внешним видом, но и 2,5 л. двигатель с мощностью в 179 "лошадей", который
        работает вместе с
        автоматической коробкой. Черная версия Kia Sorento представлена в 5 и 7 местных версиях
        салона,
        а внушительные размеры
        привлекают любителей "больших" машин - 4,8х1,9х1,6 м. Диски 17 или 18", а клиренс 176 мм.
      </li>
      <li>
        Hyundai Tucson предлагается в полном приводе, цена при этом составит от 2,9 млн. руб. За эту
        сумму покупатель
        становится владельцем кроссовера с 2 л. двигателем мощностью 150 лошадиных сил. Диски бывают
        17-18-19 дюймовыми, а
        дорожный просвет - 181 мм. В салоне предусмотрены места для 4 пассажиров и водителя. Размер
        автомобиля 4,6х1,8х1,6 м.
      </li>
      <li>
        Kia Sportage, а точнее - полноприводную версию можно купить по цене от 3 млн. руб. Диски
        легкосплавны диаметром 17 или
        18", а размеры 4,6х1,8х1,6 м. Производитель включил в такую сумму комплектацию Комфорт, в
        которой присутствуют 2 л.
        двигатель, бензиновый "атмосферник" в удачном сочетании с механической коробкой передач.
      </li>
      <li>
        Kia Seltos начала 2022 год с подорожания на 40%. Так, в полноприводном исполнении стоимость
        будет как минимум 2,1 млн.
        руб. Именно такая цена включает в себя 1,6 л. бензиновый двигатель, 120 лошадиных сил в
        сочетании с трансмиссией
        механического типа. Размеры вполне приемлемые 4,3х1,8х1,6 м.
      </li>
    </ul>
    <div class="impl_pst_info">
      <div class="impl_pst_admin">
        <span><a href="#">admin</a></span>
        <span><a href="#">28 Ноября 2022</a></span>
      </div>
      <ul class="impl_pst_views">
        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 413</a></li>
        <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 251</a></li>
        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 5</a></li>
      </ul>
    </div>
  </div>
</article>