<!DOCTYPE html>
<!--[if IE 8]> <html lang="ru" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="ru" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ru">

<head>
	<title>Купить БУ Авто из США и Грузии ✅ Цены от от 7,000$ | Avtoraketa</title>
	<meta charset="utf-8">
	<meta property="og:title" content="Avtoraketa - доставка авто из США и Грузии">
	<meta property="og:site_name" content="Avtoraketa">
	<meta property="og:url" content="https://avtoraketa.com">
	<meta property="og:description" content="Предоставляем улуги профессионального пригона авто из США и Грузии">
	<meta property="og:image" content="@img/logo.png">
	<meta name="description" content="Авторакета - это выгодная покупка авто с аукционов Америки и авторынков Грузии">
	<meta name="keywords"
		content="Авторакета: Поставщик автомобилей из Америки и Грузии в страны бывшего СНГ, с аукционов Copart, Manheim, IAAI. Автомобили в наличии, автомобильный аукцион. Самая надежная компания, работа под ключ.">
	<meta name="author" content="Valerij Shumkov">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta name="MobileOptimized" content="320">
	<link rel="shortcut icon" type="image/png" href="@img/favicon.ico">
</head>

<body>
	{{>views/utils/preloader}}
	{{>views/layout/header}}
	{{>views/main/slider}}
	{{>views/main/box}}
	{{>views/main/steps}}
	{{>views/main/service}}
	{{>views/main/featured}}
	{{>views/main/need}}
	{{>views/main/blog}}
	{{>views/utils/watsapp}}
	{{>views/layout/footer}}
	<!--Vendors-->
	<script type="text/javascript" src="vendor/jquery.js"></script>
	<script type="text/javascript" src="vendor/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="vendor/ion.rangeSlider.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/nice_select/jquery.nice-select.min.js"></script>
	<!--Revolution slider start-->
	<script type="text/javascript" src="vendor/plugin/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/revolution/js/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/revolution/js/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/revolution/js/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/revolution/js/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/revolution/js/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/revolution/js/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/revolution/js/revolution.addon.slicey.min.js"></script>
	<!--Revolution slider start-->
	<script type="text/javascript" src="vendor/custom.js"></script>
	<!--Vendors End-->
</body>

</html>