<!DOCTYPE html>
<!--[if IE 8]> <html lang="ru" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="ru" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta property="og:title" content="Avtoraketa - доставка авто из США и Грузии">
	<meta property="og:site_name" content="Avtoraketa">
	<meta property="og:url" content="https://avtoraketa.com">
	<meta property="og:description" content="Предоставляем улуги профессионального пригона авто из США и Грузии">
	<meta property="og:image" content="@img/logo.svg">
	<meta name="description" content="Авторакета - это выгодная покупка авто с аукционов Америки и авторынков Грузии">
	<meta name="keywords"
		content="Авторакета: Поставщик автомобилей из Америки и Грузии в страны бывшего СНГ, с аукционов Copart, Manheim, IAAI. Автомобили в наличии, автомобильный аукцион. Самая надежная компания, работа под ключ.">
	<meta name="author" content="Valerij Shumkov">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta name="MobileOptimized" content="320">
	<title>Авторакета - это выгодная покупка авто из Грузии и США. Доставка и растоможка. Услуги пригона авто.</title>
	<link rel="shortcut icon" type="image/png" href="@img/favicon.ico">
	{{>views/head/preload}}
</head>

<body>
	{{>views/head/analytics}}
	<h1 class="visually-hidden">
		Страница услуг компании Avtoraketa.
	</h1>
	{{>views/layout/header}}
	{{>views/layout/breadcrumb currentPage="Услуги"}}
	{{>views/service/about}}
	{{>views/service/counter}}
	{{>views/service/ask}}
	{{>views/layout/footer}}
	<!-- Vendor -->
	<script type="text/javascript" src="vendor/jquery.js"></script>
	<script type="text/javascript" src="vendor/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="vendor/ion.rangeSlider.min.js"></script>
	<script type="text/javascript" src="vendor/appear.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/magnific/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/slick/slick.min.js"></script>
	<script type="text/javascript" src="vendor/plugin/counter/jquery.countTo.js"></script>
	<script type="text/javascript" src="vendor/custom.js"></script>
	<!-- Vendor End -->
</body>

</html>