<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta property="og:title" content="Авторакета - доставка авто из Китая и Кореи, США и Грузии">
  <meta property="og:site_name" content="Avtoraketa">
  <meta property="og:url" content="https://avtoraketa.com">
  <meta property="og:description" content="Авторакета - покупка, растаможка, сертификация автомобилей с пробегом">
  <meta property="og:image" content="@img/logo.svg">
  <meta name="description" content="Авторакета - покупка, растаможка, сертификация автомобилей с пробегом">
  <meta name="keywords"
    content="Авторакета: Поставщик автомобилей из Америки и Грузии в страны бывшего СНГ, с аукционов Copart, Manheim, IAAI. Автомобили в наличии, автомобильный аукцион. Самая надежная компания, работа под ключ, авторакета, купить машину, растоможка авто, услуги пригона">
  <meta name="author" content="Valerij Shumkov">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="MobileOptimized" content="320">
  <title>Гарантии от компании Авторакета</title>
  <link rel="shortcut icon" type="image/png" href="@img/favicon.ico">
  {{>views/head/preload}}
</head>

<body>
  {{>views/head/analytics}}
  <h1 class="visually-hidden">
    Гарантии от компании Авторакета
  </h1>
  {{>views/utils/preloader}}
  {{>views/layout/header}}
  {{>views/layout/breadcrumb currentPage="Гарантии"}}
  {{>views/warranty/body}}
  {{>views/layout/footer}}
  {{!-- Vendor --}}
  <script type="text/javascript" src="vendor/jquery.js"></script>
  <script type="text/javascript" src="vendor/popper.js"></script>
  <script type="text/javascript" src="vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="vendor/custom.js"></script>
</body>

</html>